* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Maison Neue;
}

/*------------------Header-------------------*/

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10px 0;
  width: 1280px;
}

.btn-header button {
  border: 1px solid #2cb1ba;
  color: #2cb1ba;
  background-color: white;
  border-radius: 5px;
  font-size: 12px;
  height: 30px;
  outline: none;
  width: 115px;
}

.btn-header button:first-child {
  margin-right: 20px;
}

.btn-headerSold {
  border: 1px solid #2cb1ba;
  background-color: #2cb1ba;
  outline: none;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  height: 30px;
  width: 115px;
}

.input-header {
  background-color: #f5f6f7;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  height: 40px;
  padding-left: 40px;
  width: 630px;
}

/*----------------Section Hero---------------*/

.hero-img {
  background-position: 50%;
  background-size: cover;
  height: 460px;
  position: relative;
  width: 100%;
}

.hero-back {
  bottom: 0;
  height: 80px;
  pointer-events: none;
  position: absolute;
  right: 0;
}

.hero-sold {
  background-color: #fff;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  font-size: 34px;
  height: 250px;
  padding: 25px;
  top: 75px;
  left: 120px;
  width: 360px;
}

.hero-sold button {
  background-color: #2baeb7;
  color: #fff;
  border: none;
  font-size: 16px;
  border-radius: 4px;
  margin-top: 32px;
  padding: 0 14px;
  width: 185px;
  height: 45px;
}

/*-----------------Articles----------------*/

.articles {
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto auto;
  width: 1280px;
  gap: 12px;
}

.img-offer {
  height: 360px;
  object-fit: cover;
  width: 235px;
}

.username {
  align-items: center;
  display: flex;
  padding: 10px;
}

.username-logo {
  border-radius: 50%;
  height: 25px;
  margin-right: 10px;
  object-fit: cover;
  width: 25px;
}

.username > span {
  color: #999;
  font-size: 12px;
}

.offer {
  cursor: pointer;
  padding: 0 6px 16px;
  width: 235px;
}

.infos-offer {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.infos-offer > span:not(:first-child) {
  color: #999;
  font-size: 12px;
}

.infos-price {
  font-size: 14px;
}

/*--------------------Page Signup-------------------*/

.form-container,
.form-signup {
  display: flex;
  flex-direction: column;
}

.form-container {
  justify-content: center;
  margin-top: 30px;
  text-align: center;
}

.form-signup {
  margin: auto;
  width: 275px;
}

.form-signup > input {
  border: none;
  border-bottom: 1px solid #fcced3;
  height: 35px;
  margin-bottom: 20px;
  padding: 1px 0px;
}

.form-signup > input,
button {
  outline: none;
}

.form-signup button {
  background-color: #2cb1ba;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  height: 45px;
  margin-top: 20px;
  outline: none;
  width: 100%;
}

.form-checkbox {
  color: #999;
  font-size: 12px;
  text-align: left;
  margin-top: 20px;
  padding: 10px;
}

.form-checkbox div {
  display: flex;
  margin-bottom: 15px;
}

.form-checkbox span {
  font-size: 16px;
  color: #666;
}

.form-checkbox > div input[type="checkbox"] {
  margin-right: 20px;
}

button,
input[type="checkbox"] {
  cursor: pointer;
}

h2 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 30px;
}

.lien-login {
  color: #2cb1ba;
  font-size: 12px;
  margin-top: 20px;
  text-decoration: none;
}
